.DS_Store
server/public
vite.config.ts.*
*.tar.gz

# ===== Replit (ignore forever) =====
.replit
replit.nix
.local/

# ===== Python =====
venv/
__pycache__/
*.pyc
.env

# ===== Node / Vite =====
node_modules/
dist/

# ===== OS / Editor =====
.DS_Store
Thumbs.db
.vscode/
